<launch>

  <include file="$(find zed_wrapper)/launch/zed.launch"/>

  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />

  <param name="log_info" value="false" />

  <node 
    pkg="lane_mapping" 
    type="LaneDetection.py" 
    name="lane_mapping" 
    respawn="true"
    args=""
    output="screen"
      />

  <!-- Non rgb point cloud without lane detection-->
    <!-- <node pkg="nodelet" type="nodelet" name="nodelet1" respawn="true"
        args="load depth_image_proc/point_cloud_xyz nodelet_manager">
      <remap from="camera_info" to="/zed/zed_node/depth/camera_info"/>
      <remap from="image_rect" to="/zed/zed_node/depth/depth_registered"/>
      <remap from="points" to="/camera/depth/points"/>
    </node> -->

  <!-- Non rgb point cloud with lane detection-->
    <node pkg="nodelet" type="nodelet" name="nodelet1" respawn="true"
        args="load depth_image_proc/point_cloud_xyz nodelet_manager">
      <remap from="camera_info" to="/cv/laneMapping/camera_info"/>
      <remap from="image_rect" to="/cv/laneMapping/left"/>
    </node>

    <!-- This is the rgb point cloud without lane detection -->
  <!-- <node pkg="nodelet" type="nodelet" name="nodelet1" respawn="true"
        args="load depth_image_proc/point_cloud_xyzrgb nodelet_manager">
    <remap from="rgb/image_rect_color" to="/zed/zed_node/rgb/image_rect_color"/>
    <remap from="rgb/camera_info" to="/zed/zed_node/depth/camera_info"/>
    <remap from="depth_registered/image_rect" to="/zed/zed_node/depth/depth_registered"/>
    <remap from="depth_registered/points" to="/camera/depth/points"/>
  </node> -->

</launch>