<launch>
    <!-- <include file="$(find zed_wrapper)/launch/zed.launch"/> -->
        <!-- <node 
            pkg="lane_mapping" 
            type="LaneDetection.py" 
            name="lane_mapping" 
            respawn="true"
            args=""
            output="screen"
             /> -->
        <node pkg="nodelet" type="nodelet" name="cloudify"
                args="load depth_image_proc/point_cloud_xyz record_player_manager --no-bond">
            <!-- <remap from="depth_registered/image_rect" to="camera/depth/image"/>
            <remap from="depth_registered/points" to="camera/depth_registered/points"/>
            <remap from="rgb/image_rect_color" to="$(arg cloud_input_ns)/image_rect_color"/>
            <remap from="rgb/camera_info" to="$(arg cloud_input_ns)/camera_info"/> -->
        </node>
    </launch>
